.list-item {
  list-style-type: none;
  display: flex;
}
.list-heading {
  font-size: 18px;
  font-weight: 500;
  color: #475569;
  flex-grow: 1;
}
.button {
  background-color: transparent;
  border: 0px;
  margin-right: 15px;
}
.img-arrow {
  width: 20px;
}
